<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
</head>
<body>
    
    <form action="{{ url_for('add') }}" method="post">
        <div>
            <label for="title">To Do:</label><br>
            <input type="text" name="title"><br>
            <input type="submit" value="Add"> 
        </div>
    </form>
    {% for todo in todo_list %}
        <div>
            {{ todo.title }}
        </div>
        {% if todo.complete == False %}
            <span>Not completed</span>
        {% else %}
            <span>Completed</span>
        {% endif %}

        <a href="{{ url_for('update' , id=todo.id) }}">Update</a>
        <a href="{{ url_for('delete' , id=todo.id) }}">Delete</a>
    {% endfor %}
</body>
</html>